<h2><%= @title %></h2>
<% @family.each do |person| %>
  <article>
    <p>
      <a href="<%= entity_uri(person.id) %>">
        <img src="/images/<%= person.id %>.png"/></a>
      &nbsp;
      <a href="<%= entity_uri(person.id) %>"><%= person.name %></a>
    </p>
  </article>
<% end %>
